/*
* Author: LRM Online;
* Url: https://www.lrmonline.com.br;
*/

/*configurações gerais obs: apagar depois*/

*{
	margin: 0px;
	padding: 0px;
}

/*font google - Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/*player*/
.lrm-player{
	background-color: rgba(55,55,55,.9);
	height: 50px;
	width: 100%;

}

@media only screen and (max-width: 1004px){
	.lrm-player {
	    display: none;
	}
	.navbar{
		display: flex !important;
		background-color: rgba(55,55,55,.9) !important;
		height: 15px !important;
		padding: .1rem 1rem !important;
	}
	button{
		background-color: #00B1F8 !important;
	}
	button .navbar-toggler-icon{
		color: #fff !important;
	}
}




.lrm-container{
	padding-right: 0;
	padding-left: 0;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.lrm-msg1{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #00B1F8;
	display: inline-block;
}
.lrm-msg2{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #E6E6E6;
	display: inline-block;
	margin-left: 10px;
}

.lrm-msg3{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size:  12px;
	color: #E6E6E6;
	display: inline-block;
	margin-left: 10px;
}

.right{
	float: right;
}

.white{
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
	background-color: #00B1F8 !important;
	border: #00B1F8 !important;
	margin-top: 5px;
}

.dark{
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
	background-color: #003566 !important;
	border: #003566 !important;
	margin-top: 5px;
}

.whatsapp{
	margin-right: 20px;
	width: 30px;
	cursor: pointer;
	margin-top: 5px;
}


.audio{
	margin-right: 10px;
	width: 20px;
	cursor: pointer;
	margin-top: 5px;

}

.player {
	width: 80px;
	cursor: pointer;
	display: inline;
}

.player1 {
	width: 20px;
	cursor: pointer;
	display: inline;
}

.paused {
	width: 80px;
	cursor: pointer;
	display: none;
	margin-top: -40px;
}


.pause{
	width: 80px;
	cursor: pointer;
	display: none;
	margin-top: -40px;
}


.range {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 200px;
	margin-top: 25px;
	margin-right: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background-color:#999;
	height: 2px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	background-color:#999;
	height: 2px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: 2px;
	border: 2px solid;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	max-width: 80px;
	position: relative;
	bottom: 11px;
	background-color: #00B1F8;
	cursor: -webkit-grab;
	-webkit-transition: border 1000ms ease;
	transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
	border: 2px solid;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	max-width: 80px;
	position: relative;
	bottom: 11px;
	background-color: #00B1F8;
	cursor: -moz-grab;
	-moz-transition: border 1000ms ease;
	transition: border 1000ms ease;
}
